$headerHeight: 64px;
$sideBarWidth: 230px;
$darkElementsColor: #2B3945;
$darkBackgroundColor: #202C37;
$darkTextColor: #FAFAFA;
$lightTextColor: #111517;
$lightElementsColor: #FAFAFA;
$lightBackgroundColor: #FFFFFF;